<!doctype html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
  <head>
  	<title>Babyline Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'login-form/css/style.css' %}">

	</head>
	<style>
		.blink_me {
			animation: blinker 2s linear infinite;
		  }
		  
		  @keyframes blinker {
			50% {
			  opacity: 0;
			}
		  }
	</style>
	<body>
	<section class="ftco-section" style="background:#10163b ">
		<div class="container rounded">
			
			<div class="row justify-content-center rounded" >
				<div class="col-md-12 col-lg-10" >
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url({% static 'login-form/images/login.png' %}); background-position: center; background-repeat: no-repeat; background-size: contain;">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign Up</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a>
									</p>
								</div>
			      	</div>
					  {% for message in messages %} 
					  <div class="blink_me">
						  <div class="alert alert-danger alert-dismissible fade show" role="alert">
							  <strong>{{ message }}</strong>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
							  </button>
						  </div>
					  </div>
					  {% endfor %}
							<form method="POST" class="signin-form ">
                                {% csrf_token %}
			      		 <div class="form-group mb-3">
                            <div >{{ form.username|as_crispy_field }}
                            </div>
							
							
			      		</div>
                          <div class="form-group mb-3">
                          <div>{{ form.email|as_crispy_field }}
		                </div>
					</div>
					

		                <div class="form-group mb-3">
                          <div>{{ form.password1|as_crispy_field }}
		                </div>
                        <div class="form-group mb-3">
                            <div>{{ form.password2|as_crispy_field }}
                          </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
		            </div> 
                    
                </form>
		          <p class="text-center">Already member? <a  href="login">Sign In</a></p>
                
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'login-form/js/jquery.min.js' %}"></script>
  <script src="{% static 'login-form/js/popper.js' %}"></script>
  <script src="{% static 'login-form/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'login-form/js/main.js' %}"></script>
  <script src="https://www.jquery-az.com/javascript/alert/dist/sweetalert.min.js"></script>

	</body>
</html>